#e19_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:1591px;
	position:absolute;
}
#e35_5 { 
	opacity:1;
	width:1152px;
	height:440px;
	position:absolute;
	left:0px;
	top:54px;
	background-image:url(images/elaying_the_groundwork.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e35_7 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:645px;
	height:59px;
	position:absolute;
	left:274px;
	top:187px;
}
#e35_6 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:675px;
	height:55px;
	position:absolute;
	left:259px;
	top:286px;
}
#e29_18 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#e36_55 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:54px;
}
#e29_19 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1007px;
	top:11px;
}
#e29_20 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e29_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:21px;
	position:absolute;
	left:14px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e29_22 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:11px;
}
#e29_23 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e29_24 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:69px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_0 { 
	opacity:1;
	width:203px;
	height:83px;
	position:absolute;
	left:939px;
	top:63px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e33_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:601px;
	height:62px;
	position:absolute;
	left:286px;
	top:184px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:2;
	line-height:undefined;
}
#e35_1 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:667px;
	height:23px;
	position:absolute;
	left:263px;
	top:302px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_8 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:542px;
	height:50px;
	position:absolute;
	left:309px;
	top:368px;
}
#e35_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:521px;
	height:28px;
	position:absolute;
	left:315px;
	top:370px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:559px;
	height:31px;
	position:absolute;
	left:296px;
	top:537px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:93px;
	top:720px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:170px;
	height:23px;
	position:absolute;
	left:803px;
	top:715px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:95px;
	height:23px;
	position:absolute;
	left:840px;
	top:894px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:423px;
	height:23px;
	position:absolute;
	left:85px;
	top:894px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_14 { 
	opacity:1;
	width:162px;
	height:130px;
	position:absolute;
	left:192px;
	top:590px;
	background-image:url(images/eimproving_your_911_quality_assurance_program.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e35_16 { 
	opacity:1;
	width:162px;
	height:88px;
	position:absolute;
	left:192px;
	top:796px;
	background-image:url(images/eabb__safety_and_protection.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e35_18 { 
	background-color:rgba(49.93750177323818, 47.85677142441273, 47.85677142441273, 1);
	opacity:1;
	width:1152px;
	height:522px;
	position:absolute;
	left:0px;
	top:962px;
}
#e35_25 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:637px;
	height:62px;
	position:absolute;
	left:259px;
	top:1111px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_22 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:210px;
	height:62px;
	position:absolute;
	left:476px;
	top:973px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_20 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1097px;
	height:46px;
	position:absolute;
	left:32px;
	top:1522px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_74 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1097px;
	height:46px;
	position:absolute;
	left:32px;
	top:1522px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e35_23 { 
	transform: rotate(-0.6079184534471529deg);
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:328.7096862792969px;
	height:29.104597091674805px;
	position:absolute;
	left:416px;
	top:1060.3846435546875px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_0 { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:692px;
	height:31px;
	position:absolute;
	left:227px;
	top:1187px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:310px;
	height:118px;
	position:absolute;
	left:423px;
	top:1272px;
}
#e36_1 { 
	opacity:1;
	width:310px;
	height:200px;
	position:absolute;
	left:423px;
	top:1240px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}




/* Emgergency Call Page */

#emergency_1 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
}
#emergency_2 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#emergency_3 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:754px;
	top:11px;
}
#emergency_4 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#emergency_5 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:75px;
	height:21px;
	position:absolute;
	left:18px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_6 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:878px;
	top:11px;
}
#emergency_7 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#emergency_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:100px;
	height:21px;
	position:absolute;
	left:2px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_9 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1002px;
	top:11px;
}
#emergency_10 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#emergency_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_12 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:506px;
	top:11px;
}
#emergency_13 { 
	background-color:rgba(159.53437864780426, 183.58725517988205, 245.43749392032623, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#emergency_14 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:81px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_15 { 
	border-radius:500px;
	background-color:rgba(179.56249594688416, 39.65339541435242, 39.65339541435242, 1);
	opacity:1;
	width:284px;
	height:283px;
	position:absolute;
	left:434px;
	top:220px;
}
#emergency_16 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:134px;
	height:31px;
	position:absolute;
	left:509px;
	top:337px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:436px;
	height:62px;
	position:absolute;
	left:358px;
	top:111px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_18 { 
	opacity:1;
	width:162px;
	height:67px;
	position:absolute;
	left:6px;
	top:-6px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#emergency_19 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:630px;
	top:11px;
}
#emergency_20 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#emergency_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:82px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#emergency_22 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:11px;
	top:644px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

/* Crime Map */

#crime_1 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
}
#crime_2 { 
	background-color:rgba(91.57683402299881, 55.76796591281891, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:648px;
	position:absolute;
	left:0px;
	top:55px;
}
#crime_map { 
	color:rgba(255, 255, 255, 1);
	opacity:1;
	width:550px;
	height:62px;
	position:absolute;
	left:301px;
	top:63px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_3 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#crime_4 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:754px;
	top:11px;
}
#crime_5 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#call_911 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:51px;
	height:21px;
	position:absolute;
	left:25px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_6 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:878px;
	top:11px;
}
#crime_7 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#crime_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:100px;
	height:21px;
	position:absolute;
	left:2px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_9 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1002px;
	top:11px;
}
#crime_10 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#crime_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_12 { 
	opacity:1;
	width:190px;
	height:56px;
	position:absolute;
	left:11px;
	top:-1px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#crime_13 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:506px;
	top:11px;
}
#crime_14 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#crime_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:81px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_16 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:630px;
	top:11px;
}
#crime_17 { 
	background-color:rgba(160.00000566244125, 184.00000423192978, 245.00000059604645, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#crime_18 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:82px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#crime_19 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:58px;
	position:absolute;
	left:0px;
	top:642px;
}
#crime_20 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:7px;
	top:654px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}

/* Resources Page */

#e43_44 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:811px;
	position:absolute;
}
#e43_45 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_46 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_47 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_48 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:152px;
	height:18px;
	position:absolute;
	left:47px;
	top:322px;
	font-family:DM Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_49 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:242px;
	height:62px;
	position:absolute;
	left:444px;
	top:123px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:172px;
	height:23px;
	position:absolute;
	left:47px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_51 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_52 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_53 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:176px;
	height:23px;
	position:absolute;
	left:47px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_54 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_55 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_56 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:209px;
	height:23px;
	position:absolute;
	left:433px;
	top:535px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_58 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:790px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_59 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:48px;
	height:23px;
	position:absolute;
	left:819px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_60 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_61 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:186px;
	height:23px;
	position:absolute;
	left:427px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_62 { 
	box-shadow:0px 4px 50px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:788px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_63 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:23px;
	position:absolute;
	left:819px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_64 { 
	opacity:1;
	width:1152px;
	height:67px;
	position:absolute;
	left:0px;
	top:-6px;
}
#e43_65 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:6px;
}
#e43_66 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:60px;
}
#e43_67 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1017px;
	top:17px;
}
#e43_68 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_69 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:78px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_70 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:17px;
}
#e43_71 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_73 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:21px;
	position:absolute;
	left:836px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_74 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:21px;
	position:absolute;
	left:772px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_75 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:21px;
	position:absolute;
	left:661px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_76 { 
	opacity:1;
	width:157px;
	height:67px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/eb979bad2777f4625933fb16780a67b2c_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e43_77 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:228px;
	height:16px;
	position:absolute;
	left:427px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_78 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:188px;
	height:16px;
	position:absolute;
	left:819px;
	top:319px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_79 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:194px;
	height:16px;
	position:absolute;
	left:47px;
	top:584px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_80 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:231px;
	height:16px;
	position:absolute;
	left:431px;
	top:586px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_81 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:102px;
	height:16px;
	position:absolute;
	left:817px;
	top:584px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_82 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:12px;
	top:750px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_83 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:303px;
	height:64px;
	position:absolute;
	left:43px;
	top:362px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_87 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:43px;
	top:622px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_88 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:64px;
	position:absolute;
	left:427px;
	top:623px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_89 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:48px;
	position:absolute;
	left:812px;
	top:631px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_85 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:288px;
	height:56px;
	position:absolute;
	left:817px;
	top:367px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
