/* Home Page */
#e46_0 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:1591px;
	position:absolute;
}
#e46_2 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:675px;
	height:55px;
	position:absolute;
	left:259px;
	top:286px;
}
#e46_3 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:54px;
}
#e46_4 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:629px;
	height:62px;
	position:absolute;
	left:57px;
	top:191px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:2;
	line-height:undefined;
}
#e46_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:614px;
	height:47px;
	position:absolute;
	left:57px;
	top:301px;
	font-family:DM Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e49_0 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:257px;
	height:47px;
	position:absolute;
	left:468px;
	top:508px;
	font-family:DM Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:360px;
	height:23px;
	position:absolute;
	left:93px;
	top:720px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:104px;
	height:23px;
	position:absolute;
	left:852px;
	top:723px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:95px;
	height:23px;
	position:absolute;
	left:858px;
	top:894px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:146px;
	height:23px;
	position:absolute;
	left:192px;
	top:899px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_24 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:848px;
	top:769px;
}
#e51_25 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_26 { 
	background-color:rgba(142.00000673532486, 227.00000166893005, 245.00000059604645, 1);
	opacity:1;
	width:63.9999885559082px;
	height:79.46511840820312px;
	position:absolute;
	left:15.99997329711914px;
	top:8.535061836242676px;
}
#e46_15 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 0.699999988079071);
	opacity:1;
	width:1152px;
	height:522px;
	position:absolute;
	left:0px;
	top:962px;
}
#e46_16 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:637px;
	height:62px;
	position:absolute;
	left:259px;
	top:1111px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:213px;
	height:62px;
	position:absolute;
	left:476px;
	top:973px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_18 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1097px;
	height:46px;
	position:absolute;
	left:32px;
	top:1522px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_19 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:1097px;
	height:46px;
	position:absolute;
	left:32px;
	top:1522px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_20 { 
	transform: rotate(-0.6079184534471529deg);
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:328.7096862792969px;
	height:29.104597091674805px;
	position:absolute;
	left:416px;
	top:1060.3846435546875px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_21 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:692px;
	height:31px;
	position:absolute;
	left:227px;
	top:1187px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_22 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:310px;
	height:118px;
	position:absolute;
	left:423px;
	top:1272px;
}
#e46_23 { 
	opacity:1;
	width:310px;
	height:200px;
	position:absolute;
	left:423px;
	top:1240px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e46_26 { 
	opacity:1;
	width:1152px;
	height:67px;
	position:absolute;
	left:0px;
	top:-8px;
}
#e46_27 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:6px;
}
#e46_28 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:60px;
}
#e46_29 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1017px;
	top:17px;
}
#e46_30 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e46_31 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:78px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_32 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:17px;
}
#e46_33 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e46_34 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_35 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:21px;
	position:absolute;
	left:836px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_36 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:21px;
	position:absolute;
	left:772px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_37 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:21px;
	position:absolute;
	left:661px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e46_38 { 
	opacity:1;
	width:157px;
	height:67px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e51_19 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:96px;
	height:96px;
	position:absolute;
	left:217px;
	top:604px;
}
#e51_20 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_21 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_22 { 
	opacity:1;
	width:72.00543975830078px;
	height:72.00544738769531px;
	position:absolute;
	left:11.994546890258789px;
	top:12px;
}
#e51_23 { 
	background-color:rgba(142.00000673532486, 227.00000166893005, 245.00000059604645, 1);
	opacity:1;
	width:72.00543975830078px;
	height:72.00544738769531px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_27 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:856px;
	top:604px;
}
#e51_28 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_29 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_30 { 
	opacity:1;
	width:80px;
	height:74.33605194091797px;
	position:absolute;
	left:8px;
	top:8px;
}
#e51_31 { 
	opacity:1;
	width:80px;
	height:74.33605194091797px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_32 { 
	background-color:rgba(142.00000673532486, 227.00000166893005, 245.00000059604645, 1);
	opacity:1;
	width:80px;
	height:74.33605194091797px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_35 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:225px;
	top:783px;
}
#e51_36 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_37 { 
	opacity:1;
	width:96px;
	height:96px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_38 { 
	opacity:1;
	width:87.99999237060547px;
	height:72px;
	position:absolute;
	left:3.9999611377716064px;
	top:12px;
}
#e51_39 { 
	opacity:1;
	width:87.99999237060547px;
	height:72px;
	position:absolute;
	left:0px;
	top:0px;
}
#e51_40 { 
	background-color:rgba(142.00000673532486, 227.00000166893005, 245.00000059604645, 1);
	opacity:1;
	width:56px;
	height:58.18000793457031px;
	position:absolute;
	left:0px;
	top:13.820077896118164px;
}
#e51_41 { 
	background-color:rgba(142.00000673532486, 227.00000166893005, 245.00000059604645, 1);
	opacity:1;
	width:52px;
	height:72px;
	position:absolute;
	left:36px;
	top:0px;
}
#e51_52 { 
	opacity:1;
	width:373px;
	height:334px;
	position:absolute;
	left:744px;
	top:135px;
	background-image:url(images/buildinghomepage.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Emgergency Call Page */
#e0_3 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
}
#e25_0 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:284px;
	height:283px;
	position:absolute;
	left:434px;
	top:219.0037384033203px;
}
#e26_2 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:134px;
	height:31px;
	position:absolute;
	left:509px;
	top:337px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e26_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:436px;
	height:62px;
	position:absolute;
	left:358px;
	top:111px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_76 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:11px;
	top:644px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_123 { 
	opacity:1;
	width:1152px;
	height:67px;
	position:absolute;
	left:0px;
	top:-7px;
}
#ei43_123_43_94 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:6px;
}
#ei43_123_43_95 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:60px;
}
#ei43_123_43_96 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1017px;
	top:17px;
}
#ei43_123_43_97 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#ei43_123_43_98 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:78px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#ei43_123_43_99 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:17px;
}
#ei43_123_43_100 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#ei43_123_43_101 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#ei43_123_43_102 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:21px;
	position:absolute;
	left:836px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#ei43_123_43_103 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:21px;
	position:absolute;
	left:772px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#ei43_123_43_104 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:21px;
	position:absolute;
	left:661px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#ei43_123_43_105 { 
	opacity:1;
	width:157px;
	height:67px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}

/* Crime Map */

#e26_4 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
}
#e36_73 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:648px;
	position:absolute;
	left:0px;
	top:55px;
}
#e27_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:550px;
	height:62px;
	position:absolute;
	left:301px;
	top:63px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e27_6 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#e27_7 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:754px;
	top:11px;
}
#e27_8 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e27_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:51px;
	height:21px;
	position:absolute;
	left:25px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e27_10 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:878px;
	top:11px;
}
#e27_11 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e27_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:100px;
	height:21px;
	position:absolute;
	left:2px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e27_13 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1002px;
	top:11px;
}
#e27_14 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e27_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_6 { 
	opacity:1;
	width:190px;
	height:56px;
	position:absolute;
	left:11px;
	top:-1px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e27_16 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:506px;
	top:11px;
}
#e27_17 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e27_18 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:81px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_7 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:630px;
	top:11px;
}
#e36_8 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:82px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_78 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:58px;
	position:absolute;
	left:0px;
	top:642px;
}
#e36_77 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:7px;
	top:654px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e27_1 { 
	opacity:1;
	width:913px;
	height:484px;
	position:absolute;
	left:120px;
	top:137px;
	background-image:url(images/eimage_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}


/* Resources Page */

#e43_44 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:811px;
	position:absolute;
}
#e43_45 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_46 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_47 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.20000000298023224);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_48 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:152px;
	height:18px;
	position:absolute;
	left:47px;
	top:322px;
	font-family:DM Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_49 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:242px;
	height:62px;
	position:absolute;
	left:444px;
	top:123px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_50 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:172px;
	height:23px;
	position:absolute;
	left:47px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_51 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_52 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_53 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:176px;
	height:23px;
	position:absolute;
	left:47px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_54 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_55 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_56 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:209px;
	height:23px;
	position:absolute;
	left:433px;
	top:535px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_58 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:790px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_59 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:48px;
	height:23px;
	position:absolute;
	left:819px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_60 { 
	box-shadow:0px 4px 30px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_61 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:186px;
	height:23px;
	position:absolute;
	left:427px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_62 { 
	box-shadow:0px 4px 50px rgba(0, 0, 0, 0.25);
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:788px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_63 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:23px;
	position:absolute;
	left:819px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_64 { 
	opacity:1;
	width:1152px;
	height:67px;
	position:absolute;
	left:0px;
	top:-6px;
}
#e43_65 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:6px;
}
#e43_66 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:60px;
}
#e43_67 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1017px;
	top:17px;
}
#e43_68 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_69 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:78px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_70 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:17px;
}
#e43_71 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_73 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:21px;
	position:absolute;
	left:836px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_74 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:21px;
	position:absolute;
	left:772px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_75 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:21px;
	position:absolute;
	left:661px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_76 { 
	opacity:1;
	width:157px;
	height:67px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e43_77 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:228px;
	height:16px;
	position:absolute;
	left:427px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_78 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:188px;
	height:16px;
	position:absolute;
	left:819px;
	top:319px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_79 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:194px;
	height:16px;
	position:absolute;
	left:47px;
	top:584px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_80 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:231px;
	height:16px;
	position:absolute;
	left:431px;
	top:586px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_81 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:102px;
	height:16px;
	position:absolute;
	left:817px;
	top:584px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_82 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:12px;
	top:750px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_83 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:303px;
	height:64px;
	position:absolute;
	left:43px;
	top:362px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_87 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:48px;
	position:absolute;
	left:43px;
	top:622px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_88 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:64px;
	position:absolute;
	left:427px;
	top:623px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_89 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:285px;
	height:48px;
	position:absolute;
	left:812px;
	top:631px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_85 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:288px;
	height:56px;
	position:absolute;
	left:817px;
	top:367px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}

/* Profile Page */

#e31_2 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
}
#e36_13 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:700px;
	position:absolute;
	left:0px;
	top:0px;
}
#e31_6 { 
	opacity:1;
	border:1px solid rgba(0, 0, 0, 1);
	width:276px;
	height:280px;
	position:absolute;
	left:133px;
	top:145px;
	background-image:url(images/profile_pic.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e31_8 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:387px;
	height:83px;
	position:absolute;
	left:578px;
	top:46px;
	font-family:DM Sans;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_9 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:625px;
	height:124px;
	position:absolute;
	left:578px;
	top:145px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_14 { 
	opacity:1;
	width:252px;
	height:245px;
	position:absolute;
	left:19px;
	top:-35px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e31_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:348px;
	height:47px;
	position:absolute;
	left:578px;
	top:350px;
	font-family:DM Sans;
	text-align:left;
	font-size:36px;
	letter-spacing:0;
	line-height:undefined;
}
#e31_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:270px;
	height:138px;
	position:absolute;
	left:576px;
	top:406px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}

/* Text Helpline */
#e36_36 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:795px;
	position:absolute;
}
#e36_37 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
#e36_38 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
#e36_39 { 
	opacity:1;
	width:162px;
	height:67px;
	position:absolute;
	left:0px;
	top:-7px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
#e36_40 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:517px;
	top:10px;
}
#e36_41 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_42 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:81px;
	height:21px;
	position:absolute;
	left:10px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_43 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:639px;
	top:10px;
}
#e36_44 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_45 { 
	color:rgba(0, 0, 0, 1);
	opacity:0.9100000262260437;
	width:87px;
	height:21px;
	position:absolute;
	left:7px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_46 { 
	opacity:1;
	width:104px;
	height:33px;
	position:absolute;
	left:761px;
	top:10px;
}
#e36_47 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:104px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_48 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:52px;
	height:21px;
	position:absolute;
	left:18.352941513061523px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_49 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:883px;
	top:10px;
}
#e36_50 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_51 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:79px;
	height:21px;
	position:absolute;
	left:11px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_52 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1005px;
	top:10px;
}
#e36_53 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e36_54 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:77px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e36_86 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1150px;
	height:68px;
	position:absolute;
	left:2px;
	top:724px;
}
#e36_88 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:8px;
	top:740px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_0 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:62px;
	position:absolute;
	left:418px;
	top:120px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_1 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:856px;
	height:426px;
	position:absolute;
	left:140px;
	top:227px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e51_4 { 
	background-color:rgba(255, 255, 255, 0.699999988079071);
	opacity:1;
	width:856px;
	height:87px;
	position:absolute;
	left:140px;
	top:566px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e51_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:146px;
	height:49px;
	position:absolute;
	left:162px;
	top:257px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_3 { 
	color:rgba(0, 0, 0, 0.699999988079071);
	opacity:1;
	width:72px;
	height:23px;
	position:absolute;
	left:162px;
	top:288px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_5 { 
	color:rgba(0, 0, 0, 0.699999988079071);
	opacity:1;
	width:196px;
	height:23px;
	position:absolute;
	left:177px;
	top:598px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_7 { 
	color:rgba(0, 0, 0, 0.699999988079071);
	opacity:1;
	width:834px;
	height:46px;
	position:absolute;
	left:162px;
	top:323px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_8 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:198px;
	height:31px;
	position:absolute;
	left:162px;
	top:384px;
	font-family:DM Sans;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_9 { 
	color:rgba(0, 0, 0, 0.699999988079071);
	opacity:1;
	width:66px;
	height:23px;
	position:absolute;
	left:162px;
	top:415px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_10 { 
	color:rgba(0, 0, 0, 0.699999988079071);
	opacity:1;
	width:834px;
	height:23px;
	position:absolute;
	left:162px;
	top:450px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e51_6 { 
	border-radius:500px;
	background-color:rgba(232.68750607967377, 232.68750607967377, 232.68750607967377, 1);
	opacity:1;
	width:50px;
	height:50px;
	position:absolute;
	left:909px;
	top:591px;
}

/* tips */

#e42_3 { 
	overflow:hidden;
	background-color:rgba(255, 255, 255, 1);
	opacity:1;
	width:1152px;
	height:811px;
	position:absolute;
}
#e42_49 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_51 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_58 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_72 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:193px;
	height:16px;
	position:absolute;
	left:47px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_22 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:259px;
	height:62px;
	position:absolute;
	left:444px;
	top:123px;
	font-family:DM Sans;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_30 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:54px;
	height:23px;
	position:absolute;
	left:47px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_59 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_61 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:16px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_62 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:23px;
	position:absolute;
	left:47px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_63 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_65 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:507px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_66 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:23px;
	position:absolute;
	left:433px;
	top:535px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_67 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:788px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_69 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:788px;
	top:511px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_70 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:59px;
	height:23px;
	position:absolute;
	left:819px;
	top:539px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_52 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:402px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_54 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:58px;
	height:23px;
	position:absolute;
	left:433px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e42_56 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:348px;
	height:215px;
	position:absolute;
	left:788px;
	top:247px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e42_57 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:58px;
	height:23px;
	position:absolute;
	left:819px;
	top:275px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_10 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:124px;
	height:16px;
	position:absolute;
	left:433px;
	top:322px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_11 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:279px;
	height:32px;
	position:absolute;
	left:819px;
	top:319px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_12 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:293px;
	height:32px;
	position:absolute;
	left:47px;
	top:575px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_13 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:146px;
	height:16px;
	position:absolute;
	left:431px;
	top:577px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_14 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:227px;
	height:16px;
	position:absolute;
	left:817px;
	top:583px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_15 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:510px;
	height:46px;
	position:absolute;
	left:12px;
	top:750px;
	font-family:DM Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_17 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:300px;
	height:48px;
	position:absolute;
	left:40px;
	top:377px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e41_18 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:297px;
	height:48px;
	position:absolute;
	left:421px;
	top:377px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:undefined;
}
#e44_2 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:274px;
	height:42px;
	position:absolute;
	left:819px;
	top:381px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e44_3 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:294px;
	height:28px;
	position:absolute;
	left:44px;
	top:635px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e44_4 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:294px;
	height:28px;
	position:absolute;
	left:429px;
	top:624px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e44_5 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:253px;
	height:42px;
	position:absolute;
	left:818px;
	top:629px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_136 { 
	opacity:1;
	width:1152px;
	height:67px;
	position:absolute;
	left:1px;
	top:-10px;
}
#e43_137 { 
	background-color:rgba(168.0000051856041, 224.000001847744, 255, 1);
	opacity:1;
	width:1152px;
	height:54px;
	position:absolute;
	left:0px;
	top:6px;
}
#e43_138 { 
	background-color:rgba(102.73046672344208, 147.63834178447723, 234.81250405311584, 1);
	opacity:1;
	width:1152px;
	height:1px;
	position:absolute;
	left:0px;
	top:60px;
}
#e43_139 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:1017px;
	top:17px;
}
#e43_140 { 
	background-color:rgba(183.00000429153442, 242.00000077486038, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_141 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:78px;
	height:21px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_142 { 
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:887px;
	top:17px;
}
#e43_143 { 
	background-color:rgba(182.7500081062317, 242.37377911806107, 255, 1);
	opacity:1;
	width:102px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
#e43_144 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:68px;
	height:21px;
	position:absolute;
	left:16px;
	top:6px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_145 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:28px;
	height:21px;
	position:absolute;
	left:836px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_146 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:36px;
	height:21px;
	position:absolute;
	left:772px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_147 { 
	color:rgba(0, 0, 0, 1);
	opacity:1;
	width:83px;
	height:21px;
	position:absolute;
	left:661px;
	top:23px;
	font-family:DM Sans;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:undefined;
}
#e43_148 { 
	opacity:1;
	width:157px;
	height:67px;
	position:absolute;
	left:12px;
	top:0px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	background-size:cover;
}
