<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Crime Map</title>
  <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    body {background: #E5E5E5;}
  </style>

</head>

<body>
  <div id="e26_4">
    <div id="e36_73"></div>
    <span id="e27_2">Philadelphia Crime Map</span>
    <div id="e27_6"></div>
    <div id="e27_7">
      <div id="e27_8"></div>
      <span id="e27_9">911 Call</span>
    </div>
    <div id="e27_10">
      <div id="e27_11"></div>
      <span id="e27_12">Support Chat</span>
    </div>
    <div id="e27_13">
      <div id="e27_14"></div>
      <span id="e27_15">Resources</span>
    </div>
    <div id="e36_6"></div>
    <div id="e27_16">
      <div id="e27_17"></div>
      <span id="e27_18">Homepage</span>
    </div>
    <div id="e36_7">
      <div id="e36_8"></div>
      <span id="e36_9">Safety Tips</span>
    </div>
    <div id="e36_78"></div>
    <span id="e36_77">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
    <div id="e27_1"></div>
  </div>
</body>
</html>