<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="crime_1">
              <div id="crime_2"></div>
              <span id="crime_map">Philadelphia Crime Map</span>
              <div id="crime_3"></div>
              <div id="crime_4">
                <div id="crime_5"></div>
                <span id="call_911">911 Call</span>
              </div>
              <div id="crime_6">
                <div id="crime_7"></div>
                <span id="crime_8">Support Chat</span>
              </div>
              <div id="crime_9">
                <div id="crime_10"></div>
                <span id="crime_11">Resources</span>
              </div>
              <div id="crime_12"></div>
              <div id="crime_13">
                <div id="crime_14"></div>
                <span id="crime_15">Homepage</span>
              </div>
              <div id="crime_16">
                <div id="crime_17"></div>
                <span id="crime_18">Safety Tips</span>
              </div>
              <div id="crime_19"></div>
              <span id="crime_20">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
            </div>
          </body>
          </html>