<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e0_3">
              <div id="e18_2"></div>
              <div id="e22_3">
                <div id="e22_0"></div>
                <span id="e19_0">Philly Map</span>
              </div>
              <div id="e27_3">
                <div id="e27_4"></div>
                <span id="e27_5">Support Chat</span>
              </div>
              <div id="e25_1">
                <div id="e25_2"></div>
                <span id="e25_3">Resources</span>
              </div>
              <div id="e22_5">
                <div id="e22_6"></div>
                <span id="e22_7">Homepage</span>
              </div>
              <div id="e25_0"></div>
              <span id="e26_2">Hold to Call</span>
              <span id="e26_3">911 Emergency Call</span>
              <div id="e36_5"></div>
              <div id="e36_10">
                <div id="e36_11"></div>
                <span id="e36_12">Safety Tips</span>
              </div>
              <span id="e36_76">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
            </div>
          </body>
          </html>