<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="emergency_1">
              <div id="emergency_2"></div>
              <div id="emergency_3">
                <div id="emergency_4"></div>
                <span id="emergency_5">Philly Map</span>
              </div>
              <div id="emergency_6">
                <div id="emergency_7"></div>
                <span id="emergency_8">Support Chat</span>
              </div>
              <div id="emergency_9">
                <div id="emergency_10"></div>
                <span id="emergency_11">Resources</span>
              </div>
              <div id="emergency_12">
                <div id="emergency_13"></div>
                <span id="emergency_14">Homepage</span>
              </div>
              <div id="emergency_15"></div>
              <span id="emergency_16">Hold to Call</span>
              <span id="emergency_17">911 Emergency Call</span>
              <div id="emergency_18"></div>
              <div id="emergency_19">
                <div id="emergency_20"></div>
                <span id="emergency_21">Safety Tips</span>
              </div>
              <span id="emergency_22">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
            </div>
          </body>
          </html>