<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Emergency Call</title>
  <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <style>
    body {background: #E5E5E5;}
  </style>

</head>

<body>
  <div id="e0_3">
    <div id="e25_0"></div>
    <span id="e26_2">Hold to Call</span>
    <span id="e26_3">911 Emergency Call</span>
    <span id="e36_76">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
    <div id="e43_123">
      <div id="ei43_123_43_94"></div>
      <div id="ei43_123_43_95"></div>
      <div id="ei43_123_43_96">
        <div id="ei43_123_43_97"></div>
        <span id="ei43_123_43_98">resources</span>
      </div>
      <div id="ei43_123_43_99">
        <div id="ei43_123_43_100"></div>
        <span id="ei43_123_43_101">about us</span>
      </div>
      <span id="ei43_123_43_102">call</span>
      <span id="ei43_123_43_103">chat</span>
      <span id="ei43_123_43_104">safety tips</span>
      <div id="ei43_123_43_105"></div>
    </div>
  </div>
</body>
</html>