<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e19_2">
              <div id="e35_5"></div>
              <div id="e35_7"></div>
              <div id="e35_6"></div>
              <div id="e29_18"></div>
              <div id="e36_55"></div>
              <div id="e29_19">
                <div id="e29_20"></div>
                <span id="e29_21">Resources</span>
              </div>
              <div id="e29_22">
                <div id="e29_23"></div>
                <span id="e29_24">About Us</span>
              </div>
              <div id="e35_0"></div>
              <span id="e33_3">Welcome to PhillySafety!</span>
              <span id="e35_1">Do you feel insecure as a women when walking in Philadelphia, Pennsylvania? </span>
              <div id="e35_8"></div>
              <span id="e35_2">You don’t need to worry about that anymore!</span>
              <span id="e35_3">Here you will find all of the resources to feel safe</span>
              <span id="e35_10">Call 911 and record the audio of incidence</span>
              <span id="e35_11">Support Groupchat</span><span id="e35_12">Safety tips</span>
              <span id="e35_13">Safe Areas to travel in Philadelphia, Pennsylvania</span>
              <div id="e35_14"></div>
              <div id="e35_16"></div>
              <div id="e35_18"></div>
              <span id="e35_25">According to our research, women are more vulnerable and Philadelphia’s rate has increase in recent years</span>
              <span id="e35_22">About Us</span>
              <span id="e35_20">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
              <span id="e36_74">©2021, PhillySafety Privacy Policy   Pennsylvania Privacy Terms & Conditions </span>
              <span id="e35_23">A website created by and for women</span><span id="e36_0">Therefore, this website is meant to help and protect women</span>
              <div id="e36_2"></div>
              <div id="e36_1"></div>
            </div>
          </body>
          </html>