<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Profile</title>
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
            <script src="{{ url_for('static', filename='script.js') }}"></script>
            <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e31_2"><div id="e36_13"></div><div id="e31_6"></div><span id="e31_8">Amanda Say</span><span id="e31_9">Age: 18 
School: UPenn
Gender: Female
Birthday: 07/08/2002</span><div id="e36_14"></div><span id="e31_10">Emergency Contact</span><span id="e31_12">Cell #: (123)456-7890
Email: amanda@upenn.edu

</span></div>
          </body>
          </html>