<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e36_36"><div id="e36_37"></div><div id="e36_38"></div><div id="e36_39"></div><div id="e36_40"><div id="e36_41"></div><span id="e36_42">Homepage</span></div><div id="e36_43"><div id="e36_44"></div><span id="e36_45"> Safety Tips</span></div><div id="e36_46"><div id="e36_47"></div><span id="e36_48">911 Call</span></div><div id="e36_49"><div id="e36_50"></div><span id="e36_51"> Philly Map</span></div><div id="e36_52"><div id="e36_53"></div><span id="e36_54">Resources</span></div><div id="e36_86"></div><span id="e36_88">©2021, PhillySafety
Privacy Policy   Pennsylvania Privacy Terms & Conditions </span><span id="e51_0">Text Helpline</span><div id="e51_1"></div><div id="e51_4"></div><span id="e51_2">Amanda Say</span><span id="e51_3">5:30 pm</span><span id="e51_5">Enter your reply here...</span><span id="e51_7">I am at 4545 Corner Ave in Philly. A man who is about 6 feet tall and has a black hoodie is following me. Can I get help?</span><span id="e51_8">Local Authorities</span><span id="e51_9">5:31 pm</span><span id="e51_10">We are on our way. Please find a safe location if possible. </span><div id="e51_6"></div></div>
          </body>
          </html>