<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="styles.css">
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5;}
            </style>
          
          </head>
          
          <body>
            <div id="e42_3"><div id="e42_49"></div><div id="e42_51"></div><div id="e42_58"></div><span id="e42_72">Be aware of your surroundings</span><span id="e42_22">Safety Tips</span><span id="e42_30">Tip #1</span><div id="e42_59"></div><div id="e42_61"></div><span id="e42_62">Tip #4</span><div id="e42_63"></div><div id="e42_65"></div><span id="e42_66">Tip #5</span><div id="e42_67"></div><div id="e42_69"></div><span id="e42_70">Tip #6</span><div id="e42_52"></div><span id="e42_54">Tip #2</span><div id="e42_56"></div><span id="e42_57">Tip #3</span><span id="e41_10">Trust Your Instincts</span><span id="e41_11">Being proactive to keep yourself safe is your
best self-defense move.</span><span id="e41_12">If you are walking by yourself, hold your phone
and be prepared to call 911 immediately.</span><span id="e41_13">Avoid traveling at night</span><span id="e41_14">Let someone know your travel plans</span><span id="e41_15">©2021, PhillySafety
Privacy Policy   Pennsylvania Privacy Terms & Conditions </span><span id="e41_17">You never know who is near you. 
Be careful and always pay attention to everyone 
who is near you at all times.</span><span id="e41_18">If your instincts tell you that you are going in the
wrong way or insecure place, trust them. 
Divert your route to a safe location</span><span id="e44_2">Always be active and prepared to whatever it might 
happen. For example, always have a pepper spray 
on hand.</span><span id="e44_3">When alone you may seem more vulnerable. Therefore, 
always be prepared to call anyone you trust or 911.</span><span id="e44_4">Always try to travel during the sunlight. At night is when
the bad people do their crimes.</span><span id="e44_5">Let the people you trust about your travel plans.
That could be a family member or a friend. 
Lean on a support network!</span><div id="e43_136"><div id="e43_137"></div><div id="e43_138"></div><div id="e43_139"><div id="e43_140"></div><span id="e43_141">resources</span></div><div id="e43_142"><div id="e43_143"></div><span id="e43_144">about us</span></div><span id="e43_145">call</span><span id="e43_146">chat</span><span id="e43_147">safety tips</span><div id="e43_148"></div></div></div>
          </body>
          </html>